/*主容器*/
.container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/reg/1.jpg') no-repeat;
}
/*图片的描述*/
.desc {
	position: absolute;
	right: 10px;
	bottom: 10px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	font-size: 12px; 
}

.desc .user {
	color: #fff;
}

.desc .user:hover {
	text-decoration: underline;
}
/*中间表单内容*/
.wrapper {
	width: 370px;
	margin: 80px auto 0; 
}  

.wrapper .mfw-logo {
	display: block;
	width: 75px;
	height: 90px;
	margin: 0 auto;
	background: url('../images/reg/logo-new.png') no-repeat ;
}

.wrapper .mainform {
	height: 296px;
	padding-top: 26px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.4);
	border-radius: 5px; 
	background-color: #fff; 
}

.wrapper .mainform form{
	position: relative;
	width: 370px;
	height: 106px;
	padding-top: 10px;
}

.wrapper .mainform form input {
	width: 306px;
	height: 28px;
	padding: 6px 0 6px 12px;
	margin: 0 25px;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
}

.wrapper .mainform form button {
	width: 320px;
	height: 40px;
	padding: 0 6px;
	margin: 12px 25px 0;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ffa800; 
}

.wrapper .mainform form button:hover {
	background-color: #ff9d00; 
}

.wrapper .mainform .error {
	display: none;
	position: absolute;
	top: -15px;
	left: 25px;
	width: 300px;
	height: 16px;
	line-height: 16px;
	padding: 0 0 3px 22px;
	color: #ff3c00;
	font-size: 12px;
	background: url('../images/reg/err_ico2.png') no-repeat 0 -60px;
}

.wrapper .protocol {
	width: 320px;
	padding-top: 12px;
	margin: 0 25px;
	color: #ccc;
	text-align: right;
	font-size: 12px;
}

.wrapper .protocol a {
	color: #999;
}

.wrapper .protocol a:hover {
	color: #3f200f;
	text-decoration: underline;
}

.wrapper .partner {
	width: 346px;
	height: 16px;
	padding: 15px 0 20px 24px;
	margin-top: 30px; 
	border-top: 1px solid #ebebeb;
	color: #999;
	font-size: 12px;
}

.wrapper .sns {
	width: 348px;
	height: 84px;
	padding-left: 25px;
}

.wrapper .sns a {
	float: left;
	width: 58px;
	margin-right: 25px;
	color: #999;
	font-size: 12px;
	text-align: center;
}

.wrapper .sns a:hover {
	color: #666;
}

.wrapper .sns i {
	display: block;
	width: 42px;
	height: 42px;
	margin: 0 0 4px 10px;
	background: url('../images/reg/c_icon3.gif') no-repeat;
}

.wrapper .sns .qq i {
	background-position: -42px 0;
}

.wrapper .sns .wchat i{
	background-position: -294px 0;
}

.wrapper .sns .sina:hover i{
	background-position: 0 -42px; 
}

.wrapper .sns .qq:hover i{
	background-position: -42px -42px; 
}

.wrapper .sns .wchat:hover i{
	background-position: -294px -42px; 
}

.wrapper .login {
	width: 140px;
	height: 14px;
	padding: 4px 0;
	margin: 10px auto;
	font-size: 12px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	background-color: rgba(0,0,0,.4); 
}

.wrapper .login a {
	margin-left: 6px;
	color: #ffa800;
}

.wrapper .login a:hover {
	text-decoration: underline;;
}
