@charset "UTF-8";
.clearfix::after {
  content: "";
  display: block;
  clear: both; }

/*顶部导航*/
.topbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.33333rem;
  border-bottom: 2px solid #e5e9e5; }

.topbar .topbar-logo {
  display: inline-block;
  width: 2.14815rem;
  height: 0.59259rem;
  margin-left: 0.27778rem;
  background: url("../images/web/logo.png") no-repeat;
  background-size: 2.14815rem 0.59259rem; }

.topbar .topbar-search {
  display: flex;
  align-items: center;
  width: 5.24074rem;
  height: 0.66667rem;
  margin-left: 0.37037rem;
  padding: 0 0.33333rem;
  border-radius: 0.46296rem;
  background-color: #f7f4f6; }

.topbar .topbar-search .search-input {
  height: 0.63889rem;
  width: 5.24074rem;
  color: #bbb;
  font-size: 0.33333rem;
  background-color: #f7f4f6; }

.topbar .topbar-search .icon-search {
  font-size: 0.42593rem;
  color: #bbb; }

.topbar .login {
  margin-left: 0.37037rem;
  color: #ffa800;
  font-size: 0.38889rem; }

/*轮播图 start*/
.swiper-container {
  width: 100%;
  font-size: 0; }

.swiper-container img {
  width: 100%; }

.swiper-container .swiper-pagination {
  display: flex;
  width: 2.72222rem !important;
  height: 0.14815rem !important;
  left: 3.61111rem !important;
  bottom: 0.18519rem !important;
  border-radius: 0.09259rem !important;
  background-color: rgba(255, 255, 255, 0.5); }

.swiper-container .swiper-pagination-bullet {
  flex: 1;
  margin: 0 !important;
  height: 0.14815rem !important;
  border-radius: 0.09259rem !important;
  background-color: rgba(255, 255, 255, 0.5) !important; }

.swiper-container .swiper-pagination-bullet-active {
  background-color: #ff9d00 !important; }

/*轮播图 end*/
/*轮播图下子导航 start*/
.sub-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.7037rem; }

.sub-nav .sub {
  flex: 1;
  display: inline-block;
  padding: 0.38889rem;
  margin-bottom: 0.40741rem;
  text-align: center;
  font-size: 0.42593rem; }

.sub-nav .sub i {
  display: inline-block;
  width: 1.24074rem;
  height: 1.24074rem;
  margin-bottom: 34px;
  background: url("../images/web/i_nav3.png") no-repeat;
  background-size: 5.2037rem 2.59259rem; }

.sub-nav .i-one {
  color: #ff9d00; }

.sub-nav .i-two {
  color: #feca2b; }

.sub-nav .i-two i {
  background-position: 0 -1.27778rem; }

.sub-nav .i-three {
  color: #42d6ba; }

.sub-nav .i-three i {
  background-position: -2.57407rem -1.27778rem; }

.sub-nav .i-four {
  color: #f94a87; }

.sub-nav .i-four i {
  background-position: -1.27778rem -1.27778rem; }

.sub-nav .i-five {
  color: #32a2f1; }

.sub-nav .i-five i {
  background-position: -1.27778rem 0; }

.sub-nav .i-six {
  color: #fd4e4e; }

.sub-nav .i-six i {
  background-position: -2.57407rem 0; }

.sub-nav .i-seven {
  color: #acce0e; }

.sub-nav .i-seven i {
  background-position: -3.88889rem 0; }

.sub-nav .i-eight {
  color: #b160df; }

.sub-nav .i-eight i {
  background-position: -3.88889rem -1.27778rem; }

/*轮播图下子导航 end*/
/*内容标题 start*/
.content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.88889rem;
  font-size: 0.42593rem;
  color: #999;
  background-color: #f8f8f8; }

.content-title i {
  display: inline-block;
  width: 0.25926rem;
  height: 0.25926rem;
  background: url("../images/web/i_guidet.png") no-repeat;
  background-size: 0.25926rem 0.64815rem; }

.content-title .gt {
  margin-right: 48px; }

.content-title .lt {
  margin-left: 48px;
  background-position: 0 -0.33333rem; }

/*内容标题 end*/
/*主体内容 start*/
.content .content-list a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333; }

.content .content-list li {
  border-bottom: 0.03704rem solid #f8f8f8; }

.content .list-title {
  margin: 0.44444rem 0 0 0.38889rem; }

.content .list-title .t-desc {
  float: left;
  width: 8.05556rem;
  font-size: 0.50926rem;
  line-height: 1.5; }

.content .list-title .tag {
  float: right;
  width: 1.05556rem;
  margin-top: 0.2037rem; }

.content .list-content {
  display: flex;
  margin: 0.27778rem 0 0.37037rem 0.38889rem; }

.content .list-content .pic {
  width: 3.48148rem;
  height: 2.40741rem; }

.content .list-content .detail .diary {
  width: 5.35185rem;
  height: 1.41667rem;
  margin-top: 0.07407rem;
  margin-left: 0.42593rem;
  color: #999;
  font-size: 0.37037rem;
  line-height: 1.3; }

.content .list-content .detail .extra {
  margin: 0.2963rem 0 0 0.42593rem;
  color: #999;
  font-size: 0.37037rem; }

.content .list-content .detail .extra-look {
  float: left; }

/*蜂首 用户头像*/
.content .list-content .detail .extra-user {
  float: right; }

.content .list-content .detail .extra-user img {
  width: 0.55556rem;
  height: 0.55556rem;
  margin: -0.01852rem 0 0 0.18519rem;
  border-radius: 50%;
  vertical-align: middle; }

/*攻略 问答方框模块*/
.content .list-content .detail .strategy {
  float: right;
  width: 1.01852rem;
  height: 0.53704rem;
  text-align: center;
  line-height: 0.53704rem;
  border: 0.03704rem solid transparent;
  border-radius: 0.09259rem; }

/*加载中按钮*/
.content .loading {
  display: block;
  width: 100%;
  height: 1.2963rem;
  margin-bottom: 0.09259rem;
  line-height: 1.2963rem;
  text-align: center;
  color: #999;
  font-size: 0.38889rem; }

/*主体内容 end*/
/*回到顶部*/
.backtop {
  position: fixed;
  right: 0.46296rem;
  bottom: 2.12963rem;
  width: 1.01852rem;
  height: 1.01852rem;
  border-radius: 50%;
  background: url("../images/web/backtop.png") no-repeat;
  background-size: 1.01852rem 1.01852rem; }

/*底部内容 start*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 2.51852rem;
  background-color: #2a282c; }

.footer .footer-btn {
  display: flex;
  height: 0.66667rem; }

.footer .footer-btn .btn {
  display: inline-block;
  color: #929193;
  width: 2.03704rem;
  height: 100%;
  margin: 0 0.23148rem;
  line-height: 0.66667rem;
  text-align: center;
  border-radius: 0.16667rem;
  background-color: #403e42; }

.footer .footer-btn .join {
  color: #ff9d00; }

.footer .copyright {
  margin-top: 0.55556rem;
  color: #575658; }

/*底部内容 end*/

/*# sourceMappingURL=web-index.css.map */
